## ScienceMesh dataprovider configuration for multi-container CERNBox deployment
## This config runs OCM received (ScienceMesh) storage provider only

[http]
certfile = "/tls/server.crt"
keyfile = "/tls/server.key"
address = "{{placeholder:http-address}}"

[log]
level = "{{placeholder:log-level:debug}}"
output = "{{placeholder:log-output:/var/log/revad.log}}"

[shared]
gatewaysvc = "{{placeholder:gateway-svc}}"
jwt_secret = "{{placeholder:jwt-secret:reva-secret}}"

[grpc]
address = "{{placeholder:grpc-address}}"

### STORAGE PROVIDER ###

[[grpc.services.storageprovider]]
driver = "ocmreceived"
mount_path = "/sciencemesh"
mount_id = "sciencemesh"
expose_data_server = true
data_server_url = "{{placeholder:data-server-url-internal.sciencemesh}}"

### HTTP DATAPROVIDER ###

[[http.services.dataprovider]]
driver = "ocmreceived"
